/***系统主体部分***/
.container {
  min-height: 100vh;

  /***系统头部***/
  .contentHeader {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  /***系统内容区域***/
  .content {
    flex: auto;
    margin: 10px 16px;
    margin-bottom: 0;
    display: flex;
  }
  .footerContent {
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    text-align: center;
  }
}
